* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d2d2d3;
}
.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
.book h1 {
  color: black;
}
.book h3 {
  color: rgb(2, 44, 44);
}

.book {
  background: white;
  border-radius: 1rem;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
